#custom-card {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  padding: 0.2rem;
  padding-top: 2rem;
}
#custom-card p {
  padding: 0.5rem;
}
